
<template id="comments_template" name="comments_template">

  {{#if isLoggedIn}}

    <form class="js-save-comments-form">
        <div class="form-group">
          <h3>Make a Comment about the page</h3>
          <textarea name="comment_about_site" rows="5"  class="form-control"></textarea>
          <button type="submit" class="btn btn-default">Submit</button>
        </div>

    </form>
    {{/if}}
  <div class="row">
      <h4>Comments:</h4>
  </div>

  <div class="container">
    {{#each comments}}
      <div>
        <p><strong>{{comment_user}} says:</strong></p>
        <p>{{comment_text}}</p>
      </div>
    {{/each}}
  </div>

</template>

